# Compiled Object files
*.slo
*.lo
*.o
*.db

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visualstudio Intelisense
*.sdf
*.opensdf
*.suo

# Executables
*.exe
*.out
*.app

*.user
# Verzeichnisse
lib/
source/debug
source/greedyracer/debug/
source/greedyracer/shaders/Cache


